* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5_2 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_3 {
  width: 100%;
  height: 100%;
  background: rgba(39,24,126,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_7 {
  width: 850px;
  height: 850px;
  background: url("../images/v9_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 115px;
  left: 42px;
  overflow: hidden;
}
.v9_8 {
  width: 518px;
  height: 112px;
  background: rgba(255,155,44,1);
  opacity: 1;
  position: absolute;
  top: 347px;
  left: 1000px;
  border: 4px solid rgba(255,134,0,1);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.v9_9 {
  width: 518px;
  height: 112px;
  background: rgba(255,155,44,1);
  opacity: 1;
  position: absolute;
  top: 568px;
  left: 1000px;
  border: 4px solid rgba(255,134,0,1);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.v9_10 {
  width: 382px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 370px;
  left: 1062px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v9_11 {
  width: 415px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 594px;
  left: 1062px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}

.v14_21 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_22 {
  width: 100%;
  height: 100%;
  background: rgba(39,24,126,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_23 {
  width: 850px;
  height: 850px;
  background: url("../images/v14_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 115px;
  left: 42px;
  overflow: hidden;
}
.v14_29 {
  width: 514px;
  height: 545px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 291px;
  left: 832px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v20_91 {
  width: 514px;
  height: 545px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 291px;
  left: 832px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v14_34 {
  width: 297px;
  height: 64px;
  background: rgba(255,155,44,1);
  opacity: 1;
  position: absolute;
  top: 745px;
  left: 940px;
  border: 4px solid rgba(255,134,0,1);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.v14_31 {
  width: 416px;
  height: 65px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 567px;
  left: 881px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v14_30 {
  width: 416px;
  height: 65px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 390px;
  left: 878px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v14_32 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 314px;
  left: 881px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v14_33 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 487px;
  left: 878px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v14_35 {
  width: 386px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 660px;
  left: 893px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v14_37 {
  width: 386px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 692px;
  left: 893px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v14_36 {
  width: 186px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 761px;
  left: 996px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v14_13 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_14 {
  width: 100%;
  height: 100%;
  background: rgba(39,24,126,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_39 {
  width: 586px;
  height: 574px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 286px;
  left: 90px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v14_49 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 295px;
  left: 170px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v14_53 {
  width: 311px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 512px;
  left: 170px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v14_55 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 623px;
  left: 170px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v14_43 {
  width: 450px;
  height: 60px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 663px;
  left: 158px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v14_59 {
  width: 356px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 727px;
  left: 170px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v14_60 {
  width: 450px;
  height: 60px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 771px;
  left: 158px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v14_62 {
  width: 450px;
  height: 60px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 772px;
  left: 845px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v14_40 {
  width: 450px;
  height: 60px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 339px;
  left: 158px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v14_42 {
  width: 450px;
  height: 60px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 555px;
  left: 158px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v14_41 {
  width: 450px;
  height: 60px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 447px;
  left: 158px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v14_15 {
  width: 300px;
  height: 300px;
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 570px;
  overflow: hidden;
}
.v14_67 {
  width: 249px;
  height: 138px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 1046px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v14_45 {
  width: 201px;
  height: 60px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 664px;
  left: 845px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v14_64 {
  width: 201px;
  height: 60px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 668px;
  left: 1094px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v14_70 {
  width: 201px;
  height: 60px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 1070px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v14_65 {
  width: 477px;
  height: 86px;
  background: rgba(255,155,44,1);
  opacity: 1;
  position: absolute;
  top: 899px;
  left: 481px;
  border: 4px solid rgba(255,134,0,1);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.v14_66 {
  width: 415px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 912px;
  left: 512px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v14_73 {
  width: 260px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 89px;
  left: 254px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v17_74 {
  width: 100px;
  height: 100px;
  background: url("../images/back.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 143px;
  overflow: hidden;
}
.v14_44 {
  width: 586px;
  height: 574px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 286px;
  left: 777px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v14_48 {
  width: 450px;
  height: 60px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 448px;
  left: 845px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v14_47 {
  width: 450px;
  height: 60px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 556px;
  left: 845px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v14_46 {
  width: 450px;
  height: 60px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 339px;
  left: 845px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v14_68 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 622px;
  left: 1140px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v14_69 {
  width: 179px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 83px;
  left: 1081px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v14_56 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 620px;
  left: 891px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v14_54 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 516px;
  left: 857px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v14_52 {
  width: 388px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 404px;
  left: 857px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v14_50 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 296px;
  left: 857px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v14_51 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 403px;
  left: 170px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v14_61 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 732px;
  left: 857px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v51_367 {
  width: 100%;
  height: 1024px;
  background: rgba(146,162,254,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v51_368 {
  width: 100%;
  height: 115px;
  background: rgba(39,24,126,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v69_4 {
  width: 240px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 32px;
  left: 1073px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v69_3 {
  width: 80px;
  height: 80px;
  background: url("../images/cliente.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 1313px;
  overflow: hidden;
}
.v51_369 {
  width: 100px;
  height: 100px;
  background: url("../images/TRUKEAsolologo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 25px;
  overflow: hidden;
}
.v51_370 {
  width: 50px;
  height: 50px;
  background: url("../images/Icon\ casita.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 185px;
  left: 25px;
  overflow: hidden;
}
.v51_379 {
  width: 987px;
  height: 531px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 203px;
  left: 292px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v51_380 {
  width: 291px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 539px;
  left: 328px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v51_381 {
  width: 602px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 237px;
  left: 485px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v51_382 {
  width: 602px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 237px;
  left: 485px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v51_383 {
  width: 291px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 396px;
  left: 328px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v51_384 {
  width: 291px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 396px;
  left: 328px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v51_385 {
  width: 291px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 539px;
  left: 952px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v51_386 {
  width: 291px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 396px;
  left: 952px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v51_387 {
  width: 291px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 399px;
  left: 952px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v51_388 {
  width: 291px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 539px;
  left: 640px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v51_389 {
  width: 291px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 396px;
  left: 640px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v51_390 {
  width: 291px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 396px;
  left: 640px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v51_391 {
  width: 271px;
  height: 86px;
  background: rgba(255,155,44,1);
  opacity: 1;
  position: absolute;
  top: 796px;
  left: 650px;
  border: 4px solid rgba(255,134,0,1);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.v51_392 {
  width: 271px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 796px;
  left: 650px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v69_313 {
  width: 50px;
  height: 50px;
  background: url("../images/enviar_dinero2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 278px;
  left: 25px;
  overflow: hidden;
}
.v69_314 {
  width: 50px;
  height: 50px;
  background: url("../images/votacion.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 371px;
  left: 25px;
  overflow: hidden;
}
.v69_315 {
  width: 50px;
  height: 50px;
  background: url("../images/consultar_transaccion1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 464px;
  left: 25px;
  overflow: hidden;
}
.v72_25 {
  width: 50px;
  height: 50px;
  background: url("../images/agregar-usuario.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 650px;
  left: 25px;
  overflow: hidden;
}
.v72_26 {
  width: 50px;
  height: 50px;
  background: url("../images/borrar-usuario.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 557px;
  left: 25px;
  overflow: hidden;
}
.v72_28 {
  width: 50px;
  height: 50px;
  background: url("../images/agregar2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 743px;
  left: 25px;
  overflow: hidden;
}

.v24_26 {
  width: 100%;
  height: 1024px;
  background: rgba(146,162,254,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v24_27 {
  width: 987px;
  height: 771px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 173px;
  left: 310px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v42_48 {
  width: 257px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 335px;
  left: 675px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v42_49 {
  width: 257px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 335px;
  left: 990px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v24_28 {
  width: 602px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 207px;
  left: 503px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v24_31 {
  width: 100%;
  height: 115px;
  background: rgba(39,24,126,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v24_32 {
  width: 100px;
  height: 100px;
  background: url("../images/v24_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 25px;
  overflow: hidden;
}
.v24_36 {
  width: 373px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 239px;
  left: 617px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v42_51 {
  width: 373px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 363px;
  left: 617px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v42_52 {
  width: 373px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 363px;
  left: 932px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v24_39 {
  width: 50px;
  height: 50px;
  background: url("../images/icon\ habilitar\ moneda.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 373px;
  left: 25px;
  overflow: hidden;
}
.v24_42 {
  width: 50px;
  height: 50px;
  background: url("../images/Icon casita.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 185px;
  left: 25px;
  overflow: hidden;
}
.v24_43 {
  width: 50px;
  height: 50px;
  background: url("../images/Icon lista de monedas.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 279px;
  left: 25px;
  overflow: hidden;
}
.v27_76 {
  width: 50px;
  height: 50px;
  background: url("../images/embudo-dolar.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 467px;
  left: 25px;
  overflow: hidden;
}
.v27_103 {
  width: 424px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 32px;
  left: 929px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v27_104 {
  width: 80px;
  height: 80px;
  background: url("../images/usuario.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 1313px;
  overflow: hidden;
}
.v33_46 {
  width: 50px;
  height: 50px;
  background: url("../images/votacion.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 561px;
  left: 25px;
  overflow: hidden;
}
.v42_29 {
  width: 50px;
  height: 50px;
  background: url("../images/editar_moneda1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 721px;
  left: 25px;
  overflow: hidden;
}
.v42_47 {
  width: 257px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 335px;
  left: 360px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v42_69 {
  width: 887px;
  height: 92px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 454px;
  left: 360px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v42_70 {
  width: 887px;
  height: 92px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 577px;
  left: 360px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v42_71 {
  width: 887px;
  height: 92px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 701px;
  left: 360px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v42_72 {
  width: 899px;
  height: 92px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 823px;
  left: 348px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v42_50 {
  width: 373px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 363px;
  left: 302px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v42_53 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 454px;
  left: 373px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v42_65 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 577px;
  left: 1003px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v42_66 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 700px;
  left: 1003px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v42_67 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 823px;
  left: 1003px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v42_68 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 454px;
  left: 1003px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v42_57 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 577px;
  left: 688px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v42_58 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 700px;
  left: 688px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v42_59 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 823px;
  left: 688px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v42_60 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 454px;
  left: 688px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v42_54 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 577px;
  left: 373px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v42_55 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 700px;
  left: 373px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v42_56 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 823px;
  left: 373px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v72_15 {
  width: 50px;
  height: 50px;
  background: url("../images/agregar2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 641px;
  left: 25px;
  overflow: hidden;
}
.v83_121 {
  width: 100%;
  height: 1024px;
  background: rgba(146,162,254,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v83_122 {
  width: 100%;
  height: 115px;
  background: rgba(39,24,126,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v83_123 {
  width: 240px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 32px;
  left: 1073px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v83_124 {
  width: 80px;
  height: 80px;
  background: url("../images/cliente.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 1313px;
  overflow: hidden;
}
.v83_125 {
  width: 100px;
  height: 100px;
  background: url("../images/TRUKEAsolologo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 25px;
  overflow: hidden;
}
.v83_126 {
  width: 50px;
  height: 50px;
  background: url("../images/Icon\ casita.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 185px;
  left: 25px;
  overflow: hidden;
}
.v83_127 {
  width: 50px;
  height: 50px;
  background: url("../images/enviar_dinero2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 25px;
  overflow: hidden;
}
.v83_128 {
  width: 50px;
  height: 50px;
  background: url("../images/votacion.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 378px;
  left: 25px;
  overflow: hidden;
}
.v83_129 {
  width: 50px;
  height: 50px;
  background: url("../images/borrar-usuario.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 566px;
  left: 25px;
  overflow: hidden;
}
.v83_130 {
  width: 50px;
  height: 50px;
  background: url("../images/agregar2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 754px;
  left: 25px;
  overflow: hidden;
}

.v83_132 {
  width: 50px;
  height: 50px;
  background: url("../images/borrar-usuario.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 660px;
  left: 25px;
  overflow: hidden;
}
.v83_133 {
  width: 50px;
  height: 50px;
  background: url("../images/consultar_transaccion1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 472px;
  left: 25px;
  overflow: hidden;
}
.v83_134 {
  width: 987px;
  height: 531px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 194px;
  left: 295px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v83_135 {
  width: 291px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 530px;
  left: 331px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v83_136 {
  width: 602px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 228px;
  left: 488px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v83_137 {
  width: 602px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 228px;
  left: 488px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v83_138 {
  width: 291px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 387px;
  left: 331px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v83_139 {
  width: 291px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 387px;
  left: 331px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v83_140 {
  width: 291px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 530px;
  left: 955px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v83_141 {
  width: 291px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 387px;
  left: 955px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v83_142 {
  width: 291px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 390px;
  left: 955px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v83_143 {
  width: 291px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 530px;
  left: 643px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v83_144 {
  width: 291px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 387px;
  left: 643px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v83_145 {
  width: 291px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 387px;
  left: 643px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v83_146 {
  width: 271px;
  height: 86px;
  background: rgba(255,155,44,1);
  opacity: 1;
  position: absolute;
  top: 796px;
  left: 653px;
  border: 4px solid rgba(255,134,0,1);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.v83_147 {
  width: 271px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 796px;
  left: 653px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v83_149 {
  width: 232px;
  height: 50px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 554px;
  left: 361px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v83_150 {
  width: 232px;
  height: 50px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 554px;
  left: 985px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v83_151 {
  width: 100%;
  height: 100%;
  background: rgba(51,51,51,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 0px;
  overflow: hidden;
}
.v83_152 {
  width: 987px;
  height: 540px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 185px;
  left: 295px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v83_153 {
  width: 271px;
  height: 86px;
  background: rgba(255,155,44,1);
  opacity: 1;
  position: absolute;
  top: 584px;
  left: 449px;
  border: 4px solid rgba(255,134,0,1);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.v83_154 {
  width: 271px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 584px;
  left: 449px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v83_155 {
  width: 271px;
  height: 86px;
  background: rgba(255,155,44,1);
  opacity: 1;
  position: absolute;
  top: 584px;
  left: 893px;
  border: 4px solid rgba(255,134,0,1);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.v83_156 {
  width: 271px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 584px;
  left: 893px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v83_157 {
  width: 272px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 228px;
  left: 357px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v83_158 {
  width: 272px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 325px;
  left: 348px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v83_159 {
  width: 272px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 424px;
  left: 348px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v83_162 {
  width: 272px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 325px;
  left: 772px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v83_163 {
  width: 272px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 228px;
  left: 772px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v83_164 {
  width: 272px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 424px;
  left: 772px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v51_343 {
  width: 100%;
  height: 1024px;
  background: rgba(146,162,254,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v51_344 {
  width: 100%;
  height: 771px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 210px;
  left: 98px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v51_345 {
  width: 100%;
  height: 68px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 365px;
  left: 116px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v51_346 {
  width: 100%;
  height: 115px;
  background: rgba(39,24,126,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v69_7 {
  width: 80px;
  height: 80px;
  background: url("../images/cliente.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 1313px;
  overflow: hidden;
}
.v69_6 {
  width: 240px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 32px;
  left: 1073px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v51_347 {
  width: 100px;
  height: 100px;
  background: url("../images/TRUKEAsolologo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 25px;
  overflow: hidden;
}
.v51_348 {
  width: 50px;
  height: 50px;
  background: url("../images/Icon\ casita.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 185px;
  left: 25px;
  overflow: hidden;
}
.v51_357 {
  width: 602px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 238px;
  left: 470px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v51_358 {
  width: 602px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 238px;
  left: 470px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v51_359 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 365px;
  left: 266px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v51_360 {
  width: 257px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 365px;
  left: 416px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v51_361 {
  width: 173px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 365px;
  left: 930px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v51_362 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 365px;
  left: 1103px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v51_363 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 365px;
  left: 1253px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v51_364 {
  width: 257px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 365px;
  left: 673px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v51_365 {
  width: 100%;
  height: 521px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 447px;
  left: 116px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v51_366 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 365px;
  left: 135px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v69_317 {
  width: 50px;
  height: 50px;
  background: url("../images/enviar_dinero1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 279px;
  left: 25px;
  overflow: hidden;
}
.v69_320 {
  width: 50px;
  height: 50px;
  background: url("../images/consultar_transaccion1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 468px;
  left: 25px;
  overflow: hidden;
}
.v69_331 {
  width: 50px;
  height: 50px;
  background: url("../images/votacion2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 374px;
  left: 25px;
  overflow: hidden;
}
.v72_29 {
  width: 50px;
  height: 50px;
  background: url("../images/agregar-usuario.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 656px;
  left: 25px;
  overflow: hidden;
}
.v72_30 {
  width: 50px;
  height: 50px;
  background: url("../images/borrar-usuario.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 562px;
  left: 25px;
  overflow: hidden;
}
.v72_32 {
  width: 50px;
  height: 50px;
  background: url("../images/agregar2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 750px;
  left: 25px;
  overflow: hidden;
}
.v83_14 {
  width: 40px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 482px;
  left: 122px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

.v24_44 {
  width: 100%;
  height: 1024px;
  background: rgba(146,162,254,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v49_55 {
  width: 232px;
  height: 50px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 479px;
  left: 604px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v49_60 {
  width: 232px;
  height: 50px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 602px;
  left: 919px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v49_61 {
  width: 232px;
  height: 50px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 726px;
  left: 919px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v49_62 {
  width: 232px;
  height: 50px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 848px;
  left: 919px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v49_59 {
  width: 232px;
  height: 50px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 479px;
  left: 919px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v49_56 {
  width: 232px;
  height: 50px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 602px;
  left: 604px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v49_57 {
  width: 232px;
  height: 50px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 726px;
  left: 610px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v49_58 {
  width: 232px;
  height: 50px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 848px;
  left: 604px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v24_49 {
  width: 100%;
  height: 115px;
  background: rgba(39,24,126,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v24_50 {
  width: 100px;
  height: 100px;
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 25px;
  overflow: hidden;
}
.v24_57 {
  width: 50px;
  height: 50px;
  background: url("../images/hogar.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 185px;
  left: 25px;
  overflow: hidden;
}
.v24_59 {
  width: 50px;
  height: 50px;
  background: url("../images/icon\ habilitar\ moneda.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 374px;
  left: 25px;
  overflow: hidden;
}
.v24_60 {
  width: 50px;
  height: 50px;
  background: url("../images/Icon\ lista\ de\ monedas2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 279px;
  left: 25px;
  overflow: hidden;
}
.v27_77 {
  width: 50px;
  height: 50px;
  background: url("../images/embudo-dolar.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 468px;
  left: 25px;
  overflow: hidden;
}
.v27_105 {
  width: 424px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 32px;
  left: 929px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v27_106 {
  width: 80px;
  height: 80px;
  background: url("../images/usuario.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 1313px;
  overflow: hidden;
}
.v33_45 {
  width: 50px;
  height: 50px;
  background: url("../images/votacion.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 562px;
  left: 25px;
  overflow: hidden;
}
.v42_31 {
  width: 50px;
  height: 50px;
  background: url("../images/editar_moneda1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 727px;
  left: 33px;
  overflow: hidden;
}
.v49_30 {
  width: 987px;
  height: 771px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 177px;
  left: 255px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v49_31 {
  width: 257px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 343px;
  left: 591px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v49_32 {
  width: 315px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 343px;
  left: 877px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v49_33 {
  width: 602px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 211px;
  left: 448px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v49_34 {
  width: 373px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 235px;
  left: 562px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v49_35 {
  width: 257px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 367px;
  left: 591px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v49_36 {
  width: 315px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 345px;
  left: 877px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v49_37 {
  width: 257px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 343px;
  left: 305px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v49_38 {
  width: 887px;
  height: 92px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 458px;
  left: 305px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v49_39 {
  width: 887px;
  height: 92px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 581px;
  left: 305px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v49_40 {
  width: 887px;
  height: 92px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 705px;
  left: 305px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v49_41 {
  width: 899px;
  height: 92px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 827px;
  left: 293px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v49_42 {
  width: 257px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 367px;
  left: 305px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v49_44 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 605px;
  left: 604px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v49_45 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 730px;
  left: 604px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v49_46 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 850px;
  left: 604px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v49_47 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 482px;
  left: 604px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v49_63 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 605px;
  left: 919px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v49_64 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 730px;
  left: 919px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v49_65 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 850px;
  left: 919px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v49_66 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 482px;
  left: 919px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v49_48 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 605px;
  left: 318px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v49_49 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 730px;
  left: 318px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v49_50 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 850px;
  left: 318px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v49_51 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 482px;
  left: 318px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v49_69 {
  width: 271px;
  height: 86px;
  background: rgba(255,155,44,1);
  opacity: 1;
  position: absolute;
  top: 905px;
  left: 1122px;
  border: 4px solid rgba(255,134,0,1);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.v49_70 {
  width: 271px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 922px;
  left: 1122px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v72_16 {
  width: 50px;
  height: 50px;
  background: url("../images/agregar2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 644px;
  left: 26px;
  overflow: hidden;
}